<div class="box-geral">
    <div class="box-dentro">
        <div class="logo">
            <p class="cantor">CANTOR</p>
            <h2 class="nome">LUAN SIMÕES</h2>
        </div>
        <div class="menu">
            <a href="" class="link-menu">Home</a>
            <a href="" class="link-menu">Sobre</a>
            <a href="" class="link-menu">Agenda</a>
            <a href="" class="link-menu">Galeria</a>
            <a href="" class="link-menu">Contato</a>
        </div>
        <div class="social">
            <a href="">
                <img src="../../../assets/imagens/face.png" alt="" class="social-icon">
            </a>
            <a href="">
                <img src="../../../assets/imagens/insta.png" alt="" class="social-icon">
            </a>
            <a href="">
                <img src="../../../assets/imagens/zap.png" alt="" class="social-icon">
            </a>

        </div>
    </div>
</div>
