<div class="geral" #banner id="banner">
    <video src="../../../assets/video/SaveTube.App-SPECTRUM EQUALIZER OVERLAY-(480p).mp4" autoplay="1" id='video' loop="infinite"></video>
    <div class="centralizado">
        
        <div class="esquerda">
            <img src="../../../assets/imagens/star.png" alt="star" class="star1 stars">
            <img class="baner"  src="../../../assets/imagens/luan.png">
            <div class="logoCantor">
                <p class="cantorCorpo">CANTOR</p>
                <h2 class="nomeCorpo">LUAN SIMÕES</h2>
            </div>
        </div>
        <div class="direita">
            <h1 class="tituloBaner">
                QUEM É <br><span class="tituloVermelho"> LUAN SIMÕES</span>
            </h1>
            <p class="textoBaner">Músico multi-instrumentista especializado em shows para todos os públicos, tendo em seu repertório músicas diversas de antigamente assim como da atualidade, trazendo todos os estilos musicais que mais agitam as noites e eventos de Sorocaba e região.   
            </p>
            <a class="botaoSaiba">
                Saiba Mais
            </a>
            <img src="../../../assets/imagens/star.png" alt="star" class="star3 stars">
        </div>

    </div>
</div>

<div class="geral2">
    <div class="centralizado">
        <div class="esquerda2">
            <h2 class="titulo2">
                EQUIPAMENTOS
            </h2>
            <p class="textoBaner2">Cortina de led, suportes para iluminação, canhões de led, strobo, máquina de fumaça. Caixas de médio-agudo, caixas de sub-grave, mesa de som profissional. Todos os equipamentos são de alta tecnologia e desempenho para proporcionar a melhor experência.</p>
        
            <img src="../../../assets/imagens/star.png" alt="star" class="star4 stars">

        </div>
        <div class="direita2">
            <img src="../../../assets/imagens/star.png" alt="star" class="star2 stars">
            <img src="../../../assets/imagens/equip.png" alt="equipamentos">

        </div>
    </div>
</div>